/* Color pallete */
/* https://adobe.ly/3eF1waS */

body {
    display:  flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: hsl(204, 100%, 5%);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 100px;
    padding: 50px;

    color: #71632d;
    font-size: 72px;
    height: 60px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header, ul {
    background: linear-gradient(
        to right,
        hsl(98, 100%, 62%),
        hsl(204, 100%, 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;

    border: 1px solid white;
    margin-bottom: 20px;
    padding: 50px;

    font-size: 28px;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 50px 0px;
    width: 100vw;
}

#index {
    background: linear-gradient(
        to right,
        hsl(204, 100%, 59%),
        hsl(98, 100%, 62%)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding: 15px 20px;

}
